<nav>
<h1>List of Pictures</h1>
<a href="http://localhost:3000/pictures/new">Add a new picture</a>
</nav>

<ul>
  <% @pictures.each do |pic| %>
    <li>
      <a href="http://localhost:3000/pictures/<%= pic.id %>"> <img src="<%= pic.url %>"></a>
      <p class="caption"><%= pic.caption %> <a href="/pictures/<%= pic.id %>/edit">edit</a> <a href="/pictures/<%= pic.id %>/delete">delete</a> </p>
      <p class="city_of_origin"><%= pic.city_of_origin %></p>
    </li>
  <% end %>
</ul>
